// src/styles.scss
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";  // tema escuro pré-construído

// Personalizações adicionais
.mat-mdc-dialog-container {
  --mdc-dialog-container-color: #1e1e1e !important;
  --mdc-dialog-with-divider-divider-color: #333333 !important;
  --mdc-dialog-subhead-color: #ffffff !important;
  color: #d4d4d4 !important;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-menu-panel {
  background: #1e1e1e !important;

  .mat-mdc-menu-item {
    color: #d4d4d4 !important;

    .mat-icon {
      color: #808080 !important;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.04) !important;

      .mat-icon {
        color: #d4d4d4 !important;
      }
    }
  }
}
